*{
    margin: 0;
    padding: 0;

    .cardContainer{
        position: relative;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        padding: 15px;
        gap:20px;
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: #161b22;
        color: white;
        .avatarContainer{
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
            img{
                height: 100px;
                border-radius: 50%;
                border: 10px solid white;
            }
        }
        .wallContainer{
            grid-column: span 12;
            height: 120px;
            background-image: url("https://picsum.photos/300");
            background-size: cover;
            margin-bottom: 40px;
        }
        .emailContainer{
            align-items: center;
        }
        .addressContainer{
            grid-column: span 12;
            gap: 10px;
            padding: 10px;
        }
        .flex{
            display: flex;
            grid-column: span 12;
            gap: 40px;
            padding: 0 10px;
        }
        .nameContainer{
            grid-column: span 8;
        }
        .userNameContainer{
            grid-column: span 4;        
            align-items: flex-end;    
        }
        .hero{
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .heading{
            font-weight: 600;
            font-size: large;
            min-width: 20%;
        }
        .detailsContainer{
            grid-column: span 2;
            justify-content: end;
        }
        .websiteContainer{
            grid-column: span 10;
            a{
                color: white;
                text-decoration: none;
            }
        }

    }
}