.detailsButton{
    padding: 10px 30px;
    border-radius: 0 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: large;
    font-weight: 600;
    transition: 0.2s;
}

.detailsButton:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}