*{
    box-sizing: border-box;
}
.pageContainer{
    background-color: #0d1117;
    min-height: 100vh;
    color: white;
    padding: 100px;
}


header{
    padding: 30px;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}

.detailsContainer{
    display:flex;
    font-size: large;
    font-family: sans-serif;

    .imageContainer{
        img{
            height: 200px;
            border-radius: 100%;
        }
        margin: auto;
    }
    
    .dataContainer{
        margin: auto;
        width: 60%;
        display: flex;
        justify-content: space-around;
    }

    .addressFlex{
        display: flex;
        justify-content: space-between;
        p{
            margin: 10px 0;
        }
        .addressDetails{
            p{
                margin: 0;
                padding: 10px 0;
            }
        }
    }

    .containers{
        padding: 35px;
    }

    .flex{
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
    }
    .main{
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .heading{
        font-weight: 600;
        margin-bottom: 20px;
        font-size: x-large;
    }
    .hero{
        display: flex;
        gap: 30px;
        justify-content: space-between;
    }
    .headingSmall{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .websiteContainer{
        a{
            color: white;
            text-decoration: none;

        }
    }
    .piece{
        width: 40%;
    }

}
$breakpoint-medium: 1200px;
$breakpoint-small: 600px;

@media (max-width: $breakpoint-medium) {
    .pageContainer{
        padding: 50px;
    }
    .detailsContainer {
        // background-color: white;
        flex-direction: column;
        .dataContainer{
            width: 100%;
            justify-content: space-around;
        }
    }
}
@media (max-width: $breakpoint-small) {
    .pageContainer{
        padding: 30px;
    }
    .detailsContainer {
        // background-color: white;
        flex-direction: column;
        .dataContainer{
            width: 100%;
            justify-content: space-around;
            flex-direction: column;
        }
        .piece{
            width: 80%;
            justify-content: space-between;
        }
    }
}