.gridContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 40px;
    gap: 80px;
    background-color: #0d1117;
    font-family: sans-serif;
}

$layout-breakpoint-medium: 1200px;
$layout-breakpoint-small: 800px;

@media (max-width: $layout-breakpoint-medium) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: $layout-breakpoint-small) {
    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}